@font-face {
  font-family: nikeTg;
  src: url("../fonts/Nike-TG.otf");
}
@font-face {
  font-family: nikeFutura;
  src: url("../fonts/Nike-Futura.otf");
}
@font-face {
  font-family: neueLight;
  src: url("../fonts/NeueMontreal-Light.otf");
}
@font-face {
  font-family: neueRegular;
  src: url("../fonts/NeueMontreal-Regular.otf");
}
@font-face {
  font-family: neueMedium;
  src: url("../fonts/NeueMontreal-Medium.otf");
}
@font-face {
  font-family: neueBold;
  src: url("../fonts/NeueMontreal-Bold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: default;
}

.fs1 {
  font-size: 5vmax;
  line-height: 4.5vmax;
  font-family: nikeFutura;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs2 {
  font-size: 4vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs3 {
  font-size: 2vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs4 {
  font-size: 1.2vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs5 {
  font-size: 1vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs6 {
  font-size: 0.8vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

i {
  font-size: 1.2vmax;
  color: #111;
  cursor: pointer;
}

button {
  font-size: 1vmax;
  font-family: neueRegular;
  letter-spacing: 0.05vmax;
  border-radius: 5vmax;
  border: none;
  color: #fff;
  background-color: #111;
  padding: 0.8vmax 1.8vmax;
  cursor: pointer;
}

@media (max-width: 30cm) {
  .fs1 {
    font-size: 5.5vmax;
    line-height: 5.5vmax;
  }
  .fs3 {
    font-size: 2.5vmax;
  }
  .fs4,
  .fs5 {
    font-size: 2vmax;
  }
  .fs6 {
    font-size: 1.4vmax;
  }
  i {
    font-size: 2.5vmax;
  }
  button {
    font-size: 2vmax;
    letter-spacing: 0.1vmax;
    padding: 1.4vmax 2.8vmax;
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 4vmax;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vmax 3vmax;
}
.nav img {
  height: 3vmax;
  cursor: pointer;
}
.nav .navcntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5vmax;
}
.nav .navcntr a {
  position: relative;
  font-family: neueMedium;
  text-decoration: none;
  color: #111;
}
.nav .navcntr a::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  z-index: 99;
  height: 1.5px;
  width: 0%;
  background-color: #111;
  transition: 0.25s linear;
}
.nav .navcntr a:hover::after {
  width: 100%;
  transition: 0.25s linear;
}
.nav .navrgt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vmax;
}
.nav .navrgt .ri-menu-line {
  display: none;
}

@media (max-width: 30cm) {
  .nav {
    height: 6vmax;
    padding: 0 2vmax;
  }
  .nav img {
    height: 5vmax;
  }
  .nav .navcntr {
    display: none;
  }
  .nav .navrgt {
    gap: 2.5vmax;
  }
  .nav .navrgt .ri-menu-line {
    display: initial;
  }
}
.wrapper {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.wrapper .sec1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vmax;
}
.wrapper .sec1 .elem1 {
  height: 3vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vmax;
  background-color: #f5f5f5;
}
.wrapper .sec1 .elem1 img {
  height: 1.5vmax;
}
.wrapper .sec1 .elem1 .links {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.wrapper .sec1 .elem1 .links a {
  letter-spacing: 0.04vmax;
  font-family: neueMedium;
  text-decoration: none;
  border-left: 1px solid #111;
  padding: 0 1vmax;
  color: #111;
}
.wrapper .sec1 .elem1 .links a:nth-child(1) {
  border-left: none;
}
.wrapper .sec1 .elem1 .links a:nth-last-child(1) {
  padding-right: 0;
}
.wrapper .sec1 .elem2 {
  position: relative;
  height: calc(100vh - 7vmax);
  width: 94%;
  background-color: #184087;
  background-image: linear-gradient(to right, #153b7b, #0d2754, #041433, #041535, #041535);
  overflow: hidden;
}
.wrapper .sec1 .elem2 .textbox1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .sec1 .elem2 .textbox1 h1 {
  font-size: 18vmax;
  font-family: nikeFutura;
  letter-spacing: 0.5vmax;
  line-height: 16vmax;
  color: white;
  border: none;
}
.wrapper .sec1 .elem2 .textbox1 h1:nth-child(1) {
  margin-left: 0.1vmax;
}
.wrapper .sec1 .elem2 .nikelogo2 {
  height: 33vmax;
  position: absolute;
  top: 32%;
  left: 63%;
  transform: translate(-50%, -50%);
}
.wrapper .sec1 .elem2 .jordanshoe {
  position: absolute;
  top: 50%;
  left: 56.8%;
  transform: translate(-50%, -50%) rotate(25deg);
  height: 46vmax;
  filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.714));
  z-index: 5;
}
.wrapper .sec1 .elem3 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3vmax;
  text-align: center;
}
.wrapper .sec1 .elem3 h1 {
  margin-top: 1vmax;
  text-transform: uppercase;
}
.wrapper .sec1 .elem3 .lspara {
  line-height: 1.5vmax;
  margin-top: 1.5vmax;
}
.wrapper .sec1 .elem3 .ptpara {
  display: none;
}
.wrapper .sec1 .elem3 .btnbox {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5vmax;
  margin-top: 2vmax;
}
.wrapper .sec1 .elem3 .btnbox .button {
  display: inline-block;
}
@media (max-width: 30cm) {
  .wrapper .sec1 {
    padding-top: 6vmax;
  }
  .wrapper .sec1 .elem1 {
    height: 5vmax;
    padding: 0 2.3vmax;
  }
  .wrapper .sec1 .elem1 img {
    height: 2.5vmax;
  }
  .wrapper .sec1 .elem1 .links a {
    padding: 0 1vmax;
  }
  .wrapper .sec1 .elem2 {
    height: 53.5vmax;
    width: 93%;
    width: calc(100% - 4.6vmax);
  }
  .wrapper .sec1 .elem2 .textbox1 h1 {
    font-size: 15vmax;
    line-height: 14vmax;
  }
  .wrapper .sec1 .elem2 .nikelogo2 {
    height: 25vmax;
    position: absolute;
    top: 38%;
    left: 64%;
    transform: translate(-50%, -50%);
  }
  .wrapper .sec1 .elem2 .jordanshoe {
    height: 41vmax;
    left: 60%;
  }
  .wrapper .sec1 .elem3 {
    padding: 2.3vmax;
    padding-bottom: 4.6vmax;
  }
  .wrapper .sec1 .elem3 .lspara {
    line-height: 3vmax;
    margin-top: 2vmax;
  }
  .wrapper .sec1 .elem3 .btnbox {
    gap: 1vmax;
    margin-top: 3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec1 {
    padding-top: 6vmax;
  }
  .wrapper .sec1 .elem2 {
    height: 40.5vmax;
  }
  .wrapper .sec1 .elem2 .nikelogo2 {
    height: 25vmax;
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  .wrapper .sec1 .elem2 .jordanshoe {
    height: 40vmax;
    top: 49%;
    left: 51%;
    transform: translate(-50%, -50%) rotate(10deg);
  }
  .wrapper .sec1 .elem2 .textbox1 {
    display: none;
  }
  .wrapper .sec1 .elem3 {
    text-align: left;
  }
  .wrapper .sec1 .elem3 h5 {
    margin-left: 0.4vmax;
  }
  .wrapper .sec1 .elem3 .lspara {
    display: none;
  }
  .wrapper .sec1 .elem3 .ptpara {
    display: flex;
    line-height: 3vmax;
    margin-top: 2.5vmax;
  }
  .wrapper .sec1 .elem3 .btnbox {
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: column;
    justify-content: left;
    margin-top: 3.5vmax;
  }
}
.wrapper .sec2 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3vmax;
}
.wrapper .sec2 .slider {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 0.8vmax;
  margin-top: 3vmax;
}
.wrapper .sec2 .slider::-webkit-scrollbar {
  display: none;
}
.wrapper .sec2 .slider .imgbox {
  height: -moz-fit-content;
  height: fit-content;
  width: 33.3333333333%;
}
.wrapper .sec2 .slider .imgbox img {
  height: 40vmax;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .sec2 .slider .imgbox h4 {
  margin-top: 3vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec2 {
    padding: 4.6vmax 2.3vmax;
  }
  .wrapper .sec2 .slider {
    gap: 1.2vmax;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .wrapper .sec2 .slider .imgbox {
    flex-shrink: 0;
    width: 76.9230769231%;
  }
  .wrapper .sec2 .slider .imgbox img {
    height: 50vmax;
  }
  .wrapper .sec2 .slider .imgbox h4 {
    margin-top: 2.3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec2 .slider .imgbox {
    width: 83.3333333333%;
  }
}
.wrapper .sec3 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3vmax;
}
.wrapper .sec3 .elem1 {
  height: 50vmax;
  width: 100%;
  margin-top: 3vmax;
}
.wrapper .sec3 .elem1 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .sec3 .elem2 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 3vmax;
  text-align: center;
}
.wrapper .sec3 .elem2 h1 {
  margin-top: 1vmax;
  text-transform: uppercase;
}
.wrapper .sec3 .elem2 p {
  line-height: 1.5vmax;
  margin-top: 1.5vmax;
}
.wrapper .sec3 .elem2 .button {
  margin-top: 2vmax;
  display: inline-block;
}
@media (max-width: 30cm) {
  .wrapper .sec3 {
    padding: 4.6vmax 2.3vmax;
  }
  .wrapper .sec3 .elem2 {
    margin-top: 2.3vmax;
  }
  .wrapper .sec3 .elem2 h1 {
    padding: 0 12vmax;
  }
  .wrapper .sec3 .elem2 p {
    line-height: 3vmax;
    margin-top: 2vmax;
    padding: 0 15vmax;
  }
  .wrapper .sec3 .elem2 .button {
    margin-top: 3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec3 .elem2 {
    text-align: left;
  }
  .wrapper .sec3 .elem2 h1 {
    padding: 0;
    padding-right: 5vmax;
  }
  .wrapper .sec3 .elem2 h5 {
    margin-left: 0.4vmax;
  }
  .wrapper .sec3 .elem2 p {
    line-height: 3vmax;
    margin-top: 2.5vmax;
    padding: 0;
    padding-right: 12vmax;
  }
  .wrapper .sec3 .elem2 .button {
    margin-top: 3.5vmax;
  }
}
.wrapper .sec4 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3vmax;
}
.wrapper .sec4 .slider {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 0.8vmax;
  margin-top: 3vmax;
}
.wrapper .sec4 .slider::-webkit-scrollbar {
  display: none;
}
.wrapper .sec4 .slider .productbox {
  height: -moz-fit-content;
  height: fit-content;
  width: 33.3333333333%;
  overflow: hidden;
}
.wrapper .sec4 .slider .productbox .imgbox {
  height: 20vmax;
  width: 100%;
  background-color: #f6f6f6;
  overflow: hidden;
}
.wrapper .sec4 .slider .productbox .imgbox img {
  height: 110%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center -2vmax;
     object-position: center -2vmax;
}
.wrapper .sec4 .slider .productbox h4 {
  margin-top: 3vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec4 {
    padding: 4.6vmax 2.3vmax;
  }
  .wrapper .sec4 .slider {
    gap: 1.2vmax;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .wrapper .sec4 .slider .productbox {
    flex-shrink: 0;
    width: 76.9230769231%;
  }
  .wrapper .sec4 .slider .productbox .imgbox {
    height: 25vmax;
    width: 100%;
  }
  .wrapper .sec4 .slider .productbox .imgbox img {
    height: 140%;
    width: 100%;
    -o-object-position: center -6.5vmax;
       object-position: center -6.5vmax;
  }
  .wrapper .sec4 .slider .productbox h4 {
    margin-top: 2.3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec4 .slider .productbox {
    width: 83.3333333333%;
  }
  .wrapper .sec4 .slider .productbox .imgbox {
    height: 25vmax;
    width: 100%;
  }
  .wrapper .sec4 .slider .productbox .imgbox img {
    height: 120%;
    width: 100%;
    -o-object-position: center -3.5vmax;
       object-position: center -3.5vmax;
  }
}
.wrapper .sec5 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3vmax;
}
.wrapper .sec5 .elem1 {
  height: 50vmax;
  width: 100%;
  margin-top: 3vmax;
}
.wrapper .sec5 .elem1 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .sec5 .elem2 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 3vmax;
  text-align: center;
}
.wrapper .sec5 .elem2 h1 {
  margin-top: 1vmax;
  text-transform: uppercase;
}
.wrapper .sec5 .elem2 p {
  line-height: 1.5vmax;
  margin-top: 1.5vmax;
}
.wrapper .sec5 .elem2 .button {
  margin-top: 2vmax;
  display: inline-block;
}
@media (max-width: 30cm) {
  .wrapper .sec5 {
    padding: 4.6vmax 2.3vmax;
  }
  .wrapper .sec5 .elem2 {
    margin-top: 2.3vmax;
  }
  .wrapper .sec5 .elem2 h1 {
    padding: 0;
  }
  .wrapper .sec5 .elem2 p {
    line-height: 3vmax;
    margin-top: 2vmax;
    padding: 0 15vmax;
  }
  .wrapper .sec5 .elem2 .button {
    margin-top: 3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec5 .elem2 {
    text-align: left;
  }
  .wrapper .sec5 .elem2 h1 {
    padding: 0;
  }
  .wrapper .sec5 .elem2 h5 {
    margin-left: 0.4vmax;
  }
  .wrapper .sec5 .elem2 p {
    line-height: 3vmax;
    margin-top: 2.5vmax;
    padding: 0;
    padding-right: 11vmax;
  }
  .wrapper .sec5 .elem2 .button {
    margin-top: 3.5vmax;
  }
}
.wrapper .sec6 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3vmax;
}
.wrapper .sec6 .slider {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 0.8vmax;
  margin-top: 3vmax;
}
.wrapper .sec6 .slider::-webkit-scrollbar {
  display: none;
}
.wrapper .sec6 .slider .productbox {
  height: -moz-fit-content;
  height: fit-content;
  width: 33.3333333333%;
  overflow: hidden;
}
.wrapper .sec6 .slider .productbox .imgbox {
  height: 22vmax;
  width: 100%;
  background-color: #f6f6f6;
  overflow: hidden;
}
.wrapper .sec6 .slider .productbox .imgbox img {
  height: 120%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center -2vmax;
     object-position: center -2vmax;
}
.wrapper .sec6 .slider .productbox h4 {
  margin-top: 3vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec6 {
    padding: 4.6vmax 2.3vmax;
  }
  .wrapper .sec6 .slider {
    gap: 1.2vmax;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .wrapper .sec6 .slider .productbox {
    flex-shrink: 0;
    width: 76.9230769231%;
  }
  .wrapper .sec6 .slider .productbox .imgbox {
    height: 25vmax;
    width: 100%;
  }
  .wrapper .sec6 .slider .productbox .imgbox img {
    height: 160%;
    width: 100%;
    -o-object-position: center -8.8vmax;
       object-position: center -8.8vmax;
  }
  .wrapper .sec6 .slider .productbox h4 {
    margin-top: 2.3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec6 .slider .productbox {
    width: 83.3333333333%;
  }
  .wrapper .sec6 .slider .productbox .imgbox {
    height: 25vmax;
    width: 100%;
  }
  .wrapper .sec6 .slider .productbox .imgbox img {
    height: 140%;
    width: 100%;
    -o-object-position: center -6vmax;
       object-position: center -6vmax;
  }
}
.wrapper .sec7 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3vmax;
  padding-bottom: 6vmax;
}
.wrapper .sec7 .row {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 0.8vmax;
  margin-top: 3vmax;
}
.wrapper .sec7 .row .elem1 {
  height: 40vmax;
  width: 50%;
}
.wrapper .sec7 .row .elem1 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .sec7 .row .elem2 {
  height: 40vmax;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3vmax;
  background-color: #f5f5f5;
}
.wrapper .sec7 .row .elem2 .contentbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.wrapper .sec7 .row .elem2 .contentbox h1 {
  margin-top: 1vmax;
  text-transform: uppercase;
}
.wrapper .sec7 .row .elem2 .contentbox p {
  line-height: 1.5vmax;
  margin-top: 1.5vmax;
}
.wrapper .sec7 .row .elem2 .contentbox .button {
  margin-top: 2vmax;
  display: inline-block;
}
.wrapper .sec7 .row .elem2 .linkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5vmax;
}
.wrapper .sec7 .row .elem2 .linkbox a {
  font-family: neueMedium;
  text-decoration: none;
  color: #111;
}
.wrapper .sec7 .row .elem2 .counterbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.wrapper .sec7 .row .elem2 .counterbox h1 {
  font-family: neueBold;
}
.wrapper .sec7 .row .elem2 .counterbox h5 {
  text-transform: uppercase;
  margin-top: 0.5vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec7 {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: 4.6vmax 2.3vmax;
    padding-bottom: 9.2vmax;
  }
  .wrapper .sec7 .row {
    flex-direction: column;
    gap: 0;
  }
  .wrapper .sec7 .row .elem1 {
    height: 50vmax;
    width: 100%;
  }
  .wrapper .sec7 .row .elem2 {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #fff;
    padding: 0;
    gap: 4vmax;
    margin-top: 2.3vmax;
  }
  .wrapper .sec7 .row .elem2 .contentbox p {
    line-height: 3vmax;
    margin-top: 2vmax;
    padding: 0 20vmax;
  }
  .wrapper .sec7 .row .elem2 .contentbox .button {
    margin-top: 3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec7 {
    overflow: hidden;
  }
  .wrapper .sec7 .row .elem2 {
    align-items: flex-start;
  }
  .wrapper .sec7 .row .elem2 .contentbox {
    text-align: left;
  }
  .wrapper .sec7 .row .elem2 .contentbox h5 {
    margin-left: 0.4vmax;
  }
  .wrapper .sec7 .row .elem2 .contentbox p {
    line-height: 3vmax;
    margin-top: 2.5vmax;
    padding: 0;
    padding-right: 21vmax;
  }
  .wrapper .sec7 .row .elem2 .contentbox .button {
    margin-top: 3.5vmax;
  }
  .wrapper .sec7 .row .elem2 .linkbox {
    flex-wrap: wrap;
  }
  .wrapper .sec7 .row .elem2 .counterbox {
    text-align: left;
    width: 100%;
  }
  .wrapper .sec7 .row .elem2 .counterbox h5 {
    margin-left: 0.1vmax;
  }
}
.wrapper .footer {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #111;
  padding: 2.5vmax 3vmax;
  padding-top: 6vmax;
}
.wrapper .footer .elem1 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper .footer .elem1 .lbholder {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 12vmax;
}
.wrapper .footer .elem1 .lbholder .linkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.2vmax;
}
.wrapper .footer .elem1 .lbholder .linkbox .fs5 {
  font-family: nikeTg;
  letter-spacing: 0.025vmax;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.wrapper .footer .elem1 .lbholder .linkbox .fs6 {
  font-family: neueRegular;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.5;
  transition: all 0.25s linear;
}
.wrapper .footer .elem1 .lbholder .linkbox .fs6:hover {
  opacity: 1;
  transition: all 0.25s linear;
}
.wrapper .footer .elem1 .sociallinkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 1vmax;
}
.wrapper .footer .elem1 .sociallinkbox i {
  padding: 0.5vmax;
  border-radius: 5vmax;
  background-color: #fff;
  opacity: 0.5;
  color: #111;
  cursor: pointer;
  transition: all 0.25s linear;
}
.wrapper .footer .elem1 .sociallinkbox i:hover {
  opacity: 1;
  transition: all 0.25s linear;
}
.wrapper .footer .elem2 {
  height: 1vmax;
  width: 100%;
  margin-top: 6vmax;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.wrapper .footer .elem2 .infolinkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-end;
}
.wrapper .footer .elem2 .infolinkbox i {
  margin-left: -0.3vmax;
  color: #fff;
}
.wrapper .footer .elem2 .infolinkbox a {
  font-family: neueMedium;
  text-decoration: none;
  color: #fff;
  padding-left: 0.3vmax;
}
.wrapper .footer .elem2 .infolinkbox p {
  color: #fff;
  text-transform: capitalize;
  opacity: 0.5;
  margin-left: 2vmax;
}
.wrapper .footer .elem2 .linkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 2vmax;
}
.wrapper .footer .elem2 .linkbox a {
  font-family: neueRegular;
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  transition: all 0.25s linear;
}
.wrapper .footer .elem2 .linkbox a:hover {
  opacity: 1;
  transition: all 0.25s linear;
}
@media (max-width: 30cm) {
  .wrapper .footer {
    padding: 2.3vmax 2.3vmax;
    padding-top: 10vmax;
  }
  .wrapper .footer .elem1 {
    flex-direction: column;
  }
  .wrapper .footer .elem1 .lbholder {
    width: 100%;
    gap: 10vmax;
  }
  .wrapper .footer .elem1 .sociallinkbox {
    margin-top: 5vmax;
  }
  .wrapper .footer .elem1 .sociallinkbox i {
    padding: 1vmax;
  }
  .wrapper .footer .elem2 {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2.3vmax;
  }
  .wrapper .footer .elem2 .infolinkbox p {
    margin-left: 2.5vmax;
  }
  .wrapper .footer .elem2 .linkbox {
    gap: 2.5vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .footer .elem1 .lbholder {
    gap: 5vmax;
    flex-direction: column;
  }
  .wrapper .footer .elem2 {
    margin-top: 5vmax;
  }
}/*# sourceMappingURL=style.css.map */