@font-face {
  font-family: nikeTg;
  src: url("../fonts/Nike-TG.otf");
}

@font-face {
  font-family: nikeFutura;
  src: url("../fonts/Nike-Futura.otf");
}

@font-face {
  font-family: neueLight;
  src: url("../fonts/NeueMontreal-Light.otf");
}

@font-face {
  font-family: neueRegular;
  src: url("../fonts/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: neueMedium;
  src: url("../fonts/NeueMontreal-Medium.otf");
}

@font-face {
  font-family: neueBold;
  src: url("../fonts/NeueMontreal-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.fs1 {
  font-size: 5vmax;
  line-height: 4.5vmax;
  font-family: nikeFutura;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs2 {
  font-size: 4vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs3 {
  font-size: 2vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs4 {
  font-size: 1.2vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs5 {
  font-size: 1vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

.fs6 {
  font-size: 0.8vmax;
  font-family: neueRegular;
  color: #111;
  letter-spacing: 0.05vmax;
}

i {
  font-size: 1.2vmax;
  color: #111;
}

button {
  font-size: 1vmax;
  font-family: neueRegular;
  letter-spacing: 0.05vmax;
  border-radius: 5vmax;
  border: none;
  color: #fff;
  background-color: #111;
  padding: 0.8vmax 1.8vmax;
  cursor: pointer;
}

@media (max-width: 30cm) {
  .fs1 {
    font-size: 5.5vmax;
    line-height: 5.5vmax;
  }

  .fs3 {
    font-size: 2.5vmax;
  }

  .fs4,
  .fs5 {
    font-size: 2vmax;
  }

  .fs6 {
    font-size: 1.4vmax;
  }

  i {
    font-size: 2.5vmax;
    color: #111;
  }

  button {
    font-size: 2vmax;
    letter-spacing: 0.1vmax;
    padding: 1.4vmax 2.8vmax;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 4vmax;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vmax 3vmax;

  img {
    height: 3vmax;
  }

  .navcntr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vmax;

    a {
      font-family: neueMedium;
      text-decoration: none;
      color: #111;
    }
  }

  .navrgt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vmax;

    .ri-menu-line {
      display: none;
    }
  }
}

@media (max-width: 30cm) {
  .nav {
    height: 6vmax;
    padding: 0 2vmax;

    img {
      height: 5vmax;
    }
    .navcntr {
      display: none;
    }
    .navrgt {
      gap: 2.5vmax;

      .ri-menu-line {
        display: initial;
      }
    }
  }
}

.wrapper {
  height: fit-content;
  width: 100%;

  .sec1 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vmax;

    .elem1 {
      height: 3vmax;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3vmax;
      background-color: #f5f5f5;

      img {
        height: 1.5vmax;
      }

      .links {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;

        a {
          letter-spacing: 0.04vmax;
          font-family: neueMedium;
          text-decoration: none;
          border-left: 2px solid #111;
          padding: 0 1vmax;
          color: #111;

          &:nth-child(1) {
            border-left: none;
          }

          &:nth-last-child(1) {
            padding-right: 0;
          }
        }
      }
    }

    .elem2 {
      position: relative;
      height: calc(100vh - 7vmax);
      width: 94%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #184087;
      background-image: linear-gradient(
        to right,
        #153b7b,
        #0d2754,
        #041433,
        #041535,
        #041535
      );
      overflow: hidden;

      img {
        height: 46vmax;
        transform: rotate(22deg);
        margin-top: 2vmax;
        margin-left: 3vmax;
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.714));
        filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.714));
        z-index: 88;
      }

      .textbox1 {
        position: absolute;
        top: 51%;
        left: 11%;
        transform: translate(0%, -50%);

        h1 {
          font-size: 18vmax;
          font-family: nikeFutura;
          font-style: italic;
          letter-spacing: 0.5vmax;
          line-height: 16vmax;
          color: white;
          border: none;

          &:nth-child(1) {
            margin-left: 0.1vmax;
          }
        }
      }

      .textbox2 {
        position: absolute;
        top: 16%;
        left: 70%;
        width: 25%;
        text-align: center;
        transform: rotate(-20deg);

        h1 {
          font-size: 5vmax;
          line-height: 3vmax;
          font-family: nikeFutura;
          color: transparent;
          -webkit-text-stroke: 1px #fff;

          &:nth-child(1) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 6vmax;
            font-family: nikeFutura;
            color: white;
          }
        }
      }
    }

    .elem3 {
      height: fit-content;
      width: 100%;
      padding: 3vmax;
      text-align: center;

      h1 {
        margin-top: 1vmax;
        text-transform: uppercase;
      }

      .lspara {
        line-height: 1.5vmax;
        margin-top: 1.5vmax;
      }

      .ptpara {
        display: none;
      }

      .btnbox {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5vmax;
        margin-top: 2vmax;

        .button {
          display: inline-block;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec1 {
      padding-top: 6vmax;

      .elem1 {
        height: 5vmax;
        padding: 0 2.3vmax;

        img {
          height: 2.5vmax;
        }

        .links {
          a {
            padding: 0 1vmax;
          }
        }
      }

      .elem2 {
        height: 54.5vmax;
        width: 93%;
        width: calc(100% - 4.6vmax);

        img {
          height: 42vmax;
          margin-top: 0;
          margin-left: 6vmax;
        }

        .textbox1 {
          left: 7%;

          h1 {
            font-size: 15vmax;
            line-height: 14vmax;
          }
        }

        .textbox2 {
          top: 13%;
          left: 73%;
          width: 25%;

          h1 {
            font-size: 4vmax;
            line-height: 2.5vmax;

            &:nth-child(1) {
              font-size: 5vmax;
            }
          }
        }
      }

      .elem3 {
        padding: 2.3vmax;
        padding-bottom: 4.6vmax;

        .lspara {
          line-height: 3vmax;
          margin-top: 2vmax;
        }

        .btnbox {
          gap: 1vmax;
          margin-top: 3vmax;
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .sec1 {
      padding-top: 6vmax;

      .elem2 {
        height: 41.3vmax;

        img {
          height: 40vmax;
          margin-left: 4vmax;
        }

        .textbox1 {
          display: none;
        }

        .textbox2 {
          display: none;
        }
      }

      .elem3 {
        text-align: left;

        h5 {
          margin-left: 0.4vmax;
        }

        .lspara {
          display: none;
        }

        .ptpara {
          display: flex;
          line-height: 3vmax;
          margin-top: 2.5vmax;
        }

        .btnbox {
          width: fit-content;
          flex-direction: column;
          justify-content: left;
          margin-top: 3.5vmax;
        }
      }
    }
  }

  .sec2 {
    height: fit-content;
    width: 100%;
    padding: 3vmax;

    .slider {
      height: fit-content;
      width: 100%;
      display: flex;
      gap: 0.8vmax;
      margin-top: 3vmax;

      &::-webkit-scrollbar {
        display: none;
      }

      .imgbox {
        height: fit-content;
        width: calc(100% / 3);

        img {
          height: 40vmax;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        h4 {
          margin-top: 3vmax;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec2 {
      padding: 4.6vmax 2.3vmax;

      .slider {
        gap: 1.2vmax;
        overflow-x: auto;
        overflow-y: hidden;

        .imgbox {
          flex-shrink: 0;
          width: calc(100% / 1.3);

          img {
            height: 50vmax;
          }

          h4 {
            margin-top: 2.3vmax;
          }
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .sec2 {
      .slider {
        .imgbox {
          width: calc(100% / 1.2);

          &:nth-child(2) img {
            object-position: -5vmax center;
          }
        }
      }
    }
  }

  .sec3 {
    height: fit-content;
    width: 100%;
    padding: 3vmax;

    .elem1 {
      height: 50vmax;
      width: 100%;
      margin-top: 3vmax;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .elem2 {
      height: fit-content;
      width: 100%;
      margin-top: 3vmax;
      text-align: center;

      h1 {
        margin-top: 1vmax;
        text-transform: uppercase;
      }

      p {
        line-height: 1.5vmax;
        margin-top: 1.5vmax;
      }

      .button {
        margin-top: 2vmax;
        display: inline-block;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec3 {
      padding: 4.6vmax 2.3vmax;

      .elem2 {
        margin-top: 2.3vmax;

        h1 {
          padding: 0 12vmax;
        }

        p {
          line-height: 3vmax;
          margin-top: 2vmax;
          padding: 0 15vmax;
        }

        .button {
          margin-top: 3vmax;
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .sec3 {
      .elem2 {
        text-align: left;

        h1 {
          padding: 0;
          padding-right: 5vmax;
        }

        h5 {
          margin-left: 0.4vmax;
        }

        p {
          line-height: 3vmax;
          margin-top: 2.5vmax;
          padding: 0;
          padding-right: 10vmax;
        }

        .button {
          margin-top: 3.5vmax;
        }
      }
    }
  }

  .sec4 {
    height: fit-content;
    width: 100%;
    padding: 3vmax;

    .slider {
      height: fit-content;
      width: 100%;
      display: flex;
      gap: 0.8vmax;
      margin-top: 3vmax;

      &::-webkit-scrollbar {
        display: none;
      }

      .imgbox {
        height: fit-content;
        width: calc(100% / 3);

        img {
          height: 20vmax;
          width: 100%;
          object-fit: cover;
          object-position: center -7vmax;
        }

        h4 {
          margin-top: 3vmax;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec4 {
      padding: 4.6vmax 2.3vmax;

      .slider {
        gap: 1.2vmax;
        overflow-x: auto;
        overflow-y: hidden;

        .imgbox {
          flex-shrink: 0;
          width: calc(100% / 1.3);

          img {
            height: 40vmax;
            object-position: center -7vmax;
          }

          h4 {
            margin-top: 2.3vmax;
          }
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .sec4 {
      .slider {
        .imgbox {
          width: calc(100% / 1.2);

          img {
            height: 25vmax;
          }
        }
      }
    }
  }

  .sec5 {
    height: fit-content;
    width: 100%;
    padding: 3vmax;

    .elem1 {
      height: 50vmax;
      width: 100%;
      margin-top: 3vmax;
      background: #fcfcfc;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center 0.5vmax;
      }
    }

    .elem2 {
      height: fit-content;
      width: 100%;
      margin-top: 3vmax;
      text-align: center;

      h1 {
        margin-top: 1vmax;
        text-transform: uppercase;
      }

      p {
        line-height: 1.5vmax;
        margin-top: 1.5vmax;
      }

      .button {
        margin-top: 2vmax;
        display: inline-block;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec5 {
      padding: 4.6vmax 2.3vmax;

      .elem2 {
        margin-top: 2.3vmax;

        h1 {
          padding: 0;
        }

        p {
          line-height: 3vmax;
          margin-top: 2vmax;
          padding: 0 15vmax;
        }

        .button {
          margin-top: 3vmax;
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .sec5 {
      .elem2 {
        text-align: left;

        h1 {
          padding: 0;
        }

        h5 {
          margin-left: 0.4vmax;
        }

        p {
          line-height: 3vmax;
          margin-top: 2.5vmax;
          padding: 0;
          padding-right: 10vmax;
        }

        .button {
          margin-top: 3.5vmax;
        }
      }
    }
  }
}
